@charset "UTF-8";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Fira Sans', 'Arial', 'sans-serif';
}
.app-container { max-width:1440px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}